.certificates {
  position: relative;
  padding: 5.208vw 0vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 7.813vw;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 3;
  }

  .title {
    color: var(--light-color);
  }

  &__wrapper {
    padding: 2.604vw 0vw;
  }

  &__slide {
    height: 23.438vw;
    transition: all 0.7s;
    img {
      border-radius: 0.781vw;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.certificates .swiper-slide-active {
  transform: scale(1.2);
  transition: all 0.7s;
  img {
    border-radius: 0.781vw;
  }
}

.certificates .swiper-button-next,
.certificates .swiper-button-prev {
  top: 57%;
  width: 3.167vw;
  height: 3.167vw;
  background: rgba(31, 30, 30, 0.5);
  backdrop-filter: blur(0.26vw);
  border-radius: 50%;
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
  z-index: 3;

  @include for-desktop {
    &:hover {
      background-color: var(--red-color);
    }
  }
}

.certificates .swiper-button-next::after,
.certificates .swiper-button-prev::after {
  font-size: 1.563vw;
}

.certificates .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 6%;
  right: auto;
}

.certificates .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 6%;
  left: auto;
}
