.our-products {
  margin-bottom: 8.292vw;
  &__container {
    position: relative;
  }

  &__boubles {
    position: absolute;
    top: 1vw;
    right: -7.5vw;
    width: 11.667vw;
    height: 14.219vw;
    z-index: -1;
  }

  &__pattern {
    position: absolute;
    bottom: -3vw;
    left: -5vw;
    width: 13.333vw;
    height: 7.813vw;
    z-index: -1;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.302vw;
    grid-row-gap: 1.302vw;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2.604vw 2.188vw;
    height: 15.625vw;
    background-color: var(--light-color);
    box-shadow: 0vw 0.208vw 2.083vw rgba(0, 0, 0, 0.1);
    border-radius: 1.042vw;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

    &-link {
      color: inherit;
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__title {
    position: relative;
    font-weight: 500;
    font-size: 1.979vw;
    line-height: 2.326vw;
    transition: all 0.4s ease-in-out;
    z-index: 4;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 22vw;
    height: 100%;
    transition: all 0.4s ease-in-out;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    width: 2.865vw;
    height: 2.865vw;
    border: 0.052vw solid var(--black-color);
    border-radius: 0.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    svg {
      width: 1vw;
      height: 1vw;
    }
  }
}

@include for-desktop {
  //our products hover
  .our-products__link:hover {
    border: 0.052vw solid transparent;
    background-color: var(--red-color);
  }

  .our-products__link:hover,
  .our-products__link svg:hover {
    fill: var(--light-color);
  }

  .our-product__item:hover {
    background-color: var(--blue-color);
  }

  .our-products__item:hover .our-products__title {
    font-size: 3.5vw;
  }

  .our-products__item:hover .our-products__img {
    transform: scale(1.3);
  }
}
