.titles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2vw;
}

.title {
  font-family: var(--font-family-Book-antiqua), sans-serif;
  font-weight: 400;
  font-size: 2.917vw;
  line-height: 3.49vw;
  text-transform: uppercase;
  padding-right: 0.729vw;
}

.label {
  font-family: var(--font-family-Carattere), sans-serif;
  font-weight: 400;
  font-size: 5.521vw;
  line-height: 6.302vw;
  text-transform: lowercase;
  color: var(--red-color);
}
