<section class="about-hero">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Back
          </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="index.html" class="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Our product</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="about-hero__inner">
    <img
      loading="lazy"
      src="img/about-sea.jpg"
      class="about-hero__image--sea image"
      alt="About bg"
    />
  </div>
  <div class="hero__content">
    <h1 class="hero__title">ADJADONA</h1>
    <div class="hero__text titles">
      <h2 class="hero__subtitle title">About our</h2>
      <h4 class="hero__label label">Company</h4>
    </div>
  </div>
</section>
