<section class="about-our-product">
  <div class="container">
    <div class="titles">
      <h2 class="title">About our</h2>
      <h4 class="label">Product</h4>
    </div>
    <div class="about-our-product__inner">
      <div class="about-our-product__item">
        <div class="about-our-product__descr">
          <h3 class="about-our-product__title">Fish & Meat</h3>
          <p class="about-our-product__text">
            To monitor the effect of nature restoration projects in North Sea
            ecosystems, accurate and intensive biodiversity assessments are
            vital. <br />
            DNA based techniques and especially environmental DNA metabarcoding
            from seawater is becoming a powerful monitoring tool.
          </p>
          <a href="#" class="about-our-product__link">Discover more</a>
        </div>
        <div class="about-our-product__image">
          <img
            loading="lazy"
            src="img/about_our_products1.jpg"
            class="image"
            alt="Our product"
          />
        </div>
      </div>

      <div class="about-our-product__item">
        <div class="about-our-product__descr">
          <h3 class="about-our-product__title">Fish & Meat</h3>
          <p class="about-our-product__text">
            To monitor the effect of nature restoration projects in North Sea
            ecosystems, accurate and intensive biodiversity assessments are
            vital. <br />
            DNA based techniques and especially environmental DNA metabarcoding
            from seawater is becoming a powerful monitoring tool.
          </p>
        </div>
        <div class="about-our-product__image">
          <img
            loading="lazy"
            src="img/about_our_products2.jpg"
            class="image"
            alt="Our product"
          />
        </div>
      </div>
    </div>
  </div>
</section>
