<section class="about-our-product">
  <div class="container">
    <div class="titles">
      <h2 class="title">About our</h2>
      <h4 class="label">Product</h4>
    </div>
    <div class="about-our-product__inner">
      <div class="about-our-product__decor">
        <img
          loading="lazy"
          src="img/pattern2.png"
          class="about-our-product__pattern image"
          alt="Decor"
        />
      </div>

      <div class="about-our-product__item">
        <div class="about-our-product__descr">
          <h3 class="about-our-product__title">Fish & Meat</h3>
          <div class="about-our-product__image about-our-product__image--show">
            <img
              loading="lazy"
              src="img/about_our_products1.jpg"
              class="image"
              alt="Our product"
            />
          </div>
          <p class="about-our-product__text">
            Siam Canadian also added its International Trading Division at its
            Bangkok headquarters which facilitates procurement of products from
            countries where Siam Canadian does not maintain its own offices.
            Siam Canadian currently maintains offices in 8 Countries and
            additionally procures product from North America, Europe, Korea,
            Japan, as well as Bangladesh, where it maintains an associate
            office. Siam Canadian also operates separate import/distribution
            companies in Guangzhou, China and Bangkok, Thailand – importing a
            wide range of high quality frozen seafood and other food items.
          </p>
          <a href="#" class="about-our-product__link">
            <span> Read more </span>
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </div>
        <div class="about-our-product__image">
          <img
            loading="lazy"
            src="img/about_our_products1.jpg"
            class="image"
            alt="Our product"
          />
        </div>
      </div>

      <div class="about-our-product__item">
        <div class="about-our-product__descr">
          <h3 class="about-our-product__title">Distribution company</h3>
          <div class="about-our-product__image about-our-product__image--show">
            <img
              loading="lazy"
              src="img/about_our_products2.jpg"
              class="image"
              alt="Our product"
            />
          </div>
          <p class="about-our-product__text">
            Siam Canadian also added its International Trading Division at its
            Bangkok headquarters which facilitates procurement of products from
            countries where Siam Canadian does not maintain its own offices.
            Siam Canadian currently maintains offices in 8 Countries and
            additionally procures product from North America, Europe, Korea,
            Japan, as well as Bangladesh, where it maintains an associate
            office. Siam Canadian also operates separate import/distribution
            companies in Guangzhou, China and Bangkok.
          </p>
          <a href="#" class="about-our-product__link">
            <span> Read more </span>
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </div>
        <div class="about-our-product__image">
          <img
            loading="lazy"
            src="img/about_our_products2.jpg"
            class="image"
            alt="Our product"
          />
        </div>
      </div>
    </div>
  </div>
</section>
