<section
  class="certificates"
  style="background-image: url(img/certificates-bg.jpg)"
  id="certificates"
>
  <div class="titles">
    <h2 class="title">Our</h2>
    <h4 class="label">certificates</h4>
  </div>

  <div class="swiper certificates__swiper">
    <div class="swiper-wrapper certificates__wrapper">
      <div class="swiper-slide certificates__slide">
        <img
          loading="lazy"
          src="img/certificate1.jpg"
          class="image"
          alt="Certificate"
        />
      </div>
      <div class="swiper-slide certificates__slide">
        <img
          loading="lazy"
          src="img/certificate2.jpg"
          class="image"
          alt="Certificate"
        />
      </div>
      <div class="swiper-slide certificates__slide">
        <img
          loading="lazy"
          src="img/certificate3.jpg"
          class="image"
          alt="Certificate"
        />
      </div>
      <div class="swiper-slide certificates__slide">
        <img
          loading="lazy"
          src="img/certificate4.jpg"
          class="image"
          alt="Certificate"
        />
      </div>
      <div class="swiper-slide certificates__slide">
        <img
          loading="lazy"
          src="img/certificate3.jpg"
          class="image"
          alt="Certificate"
        />
      </div>
    </div>
  </div>

  <div class="swiper__btns">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
