<section class="feedback">
  <div class="titles">
    <h2 class="title">Have a</h2>
    <h4 class="label">questions?</h4>
  </div>

  <div class="feedback__decor">
    <img
      loading="lazy"
      src="img/feedback-bg1.png"
      class="feedback__fish-start image"
      alt="Feedback bg"
    />

    <img
      loading="lazy"
      src="img/boubles.png"
      class="feedback__boubles image"
      alt="Decor"
    />

    <img
      loading="lazy"
      src="img/pattern.png"
      class="feedback__pattern image"
      alt="Decor"
    />

    <img
      loading="lazy"
      src="img/feedback-bg2.png"
      class="feedback__fish-end image"
      alt="Feedback bg"
    />
  </div>

  <div class="feedback__form">
    <div class="form">
      <label class="form__label">
        <input
          type="text"
          name="Имя"
          class="input-reset form__input form__input--name"
          placeholder="Your name"
        />
      </label>
      <label class="form__label">
        <input
          type="text"
          name="Имя"
          class="input-reset form__input form__input--phone"
          placeholder="Phone number"
        />
      </label>
      <button class="btn-reset btn form__btn">Contact us</button>
    </div>
  </div>
</section>
