<header class="header">
  <nav class="nav" title="nav-menu">
    <ul class="nav__list list-reset">
      <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Product</a></li>
      <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
      <li class="nav__item-logo">
        <a href="#" class="nav__link nav__link-logo">
          <img loading="lazy" src="img/logo.png" class="image" alt="Logo" />
        </a>
      </li>
      <li class="nav__item nav__item-phone">
        <a href="tel:+4879887312" class="nav__link nav__link-phone">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          487-98-873-12
        </a>
      </li>
      <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      <li class="nav__item nav__item-lang">
        <select name="lang" class="lang">
          <option>EN</option>
          <option>FR</option>
        </select>
      </li>
    </ul>
  </nav>
</header>
