<section class="hero">
  <div class="hero__inner">
    <div class="hero__image hero__image--meet">
      <img loading="lazy" src="img/meet_bg.jpg" class="image" alt="Meet bg" />
    </div>
    <div class="hero__image hero__image--fish">
      <img loading="lazy" src="img/fish_bg.jpg" class="image" alt="Fish bg" />
    </div>
  </div>
  <div class="hero__content">
    <h1 class="hero__title">ADJADONA</h1>
    <div class="hero__text titles">
      <h2 class="hero__subtitle title">Fish <span>and</span> Meet</h2>
      <h4 class="hero__label label">Exporter</h4>
    </div>
  </div>
</section>
