<section class="offers">
  <div class="container">
    <div class="titles">
      <h2 class="title">Best</h2>
      <h4 class="label">Offers</h4>
    </div>

    <div class="offers__decor">
      <img
        loading="lazy"
        src="img/boubles3.png"
        class="offers__boubles image"
        alt="Decor"
      />

      <img
        loading="lazy"
        src="img/pattern.png"
        class="offers__pattern image"
        alt="Decor"
      />
    </div>

    <div class="swiper offers__swiper">
      <div class="swiper-wrapper offers__wrapper">
        <div class="swiper-slide offers__slide">
          <img
            loading="lazy"
            src="img/offers1.jpg"
            class="image"
            alt="Offer 1"
          />
        </div>

        <div class="swiper-slide offers__slide">
          <img
            loading="lazy"
            src="img/offers2.jpg"
            class="image"
            alt="Offer 1"
          />
        </div>

        <div class="swiper-slide offers__slide">
          <img
            loading="lazy"
            src="img/offers3.jpg"
            class="image"
            alt="Offer 1"
          />
        </div>

        <div class="swiper-slide offers__slide">
          <img
            loading="lazy"
            src="img/offers4.jpg"
            class="image"
            alt="Offer 1"
          />
        </div>

        <div class="swiper-slide offers__slide">
          <img
            loading="lazy"
            src="img/offers3.jpg"
            class="image"
            alt="Offer 1"
          />
        </div>
      </div>
      <div class="swiper__btns">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
