<section class="our-products" id="our-products">
  <div class="container our-products__container">
    <div class="titles">
      <h2 class="title">Our</h2>
      <h4 class="label">Products</h4>
    </div>

    <div class="our-products__decor">
      <img
        loading="lazy"
        src="img/boubles2.png"
        class="our-products__boubles image"
        alt="Decor"
      />

      <img
        loading="lazy"
        src="img/pattern2.png"
        class="our-products__pattern image"
        alt="Decor"
      />
    </div>

    <div class="our-products__inner">
      <div class="our-products__item">
        <a class="our-products__item-link" href="products-page.html">
          <h3 class="our-products__title">Fish</h3>
          <div class="our-products__img">
            <img
              loading="lazy"
              src="img/our_products1.png"
              class="image"
              alt="Our products1"
            />
          </div>
          <a href="products-page.html" class="our-products__link">
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </a>
      </div>

      <div class="our-products__item">
        <a class="our-products__item-link" href="products-page.html">
          <h3 class="our-products__title">Meat</h3>
          <div class="our-products__img products-meat">
            <img
              loading="lazy"
              src="img/our_products2.png"
              class="image"
              alt="Our products1"
            />
          </div>
          <a href="products-page.html" class="our-products__link">
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </a>
      </div>

      <div class="our-products__item">
        <a class="our-products__item-link" href="products-page.html">
          <h3 class="our-products__title">Seafood</h3>
          <div class="our-products__img">
            <img
              loading="lazy"
              src="img/our_products3.png"
              class="image"
              alt="Our products1"
            />
          </div>
          <a href="products-page.html" class="our-products__link">
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </a>
      </div>

      <div class="our-products__item">
        <a class="our-products__item-link" href="products-page.html">
          <h3 class="our-products__title">Shellfish</h3>
          <div class="our-products__img">
            <img
              loading="lazy"
              src="img/our_products4.png"
              class="image"
              alt="Our products1"
            />
          </div>
          <a href="products-page.html" class="our-products__link">
            <svg>
              <use xlink:href="img/sprite.svg#right"></use>
            </svg>
          </a>
        </a>
      </div>
    </div>
  </div>
</section>
