<section class="our-offices">
  <div class="our-offices__sea">
    <img loading="lazy" src="img/sea.jpg" class="image" alt="Sea" />
  </div>

  <img
    loading="lazy"
    src="img/subtract.png"
    class="our-offices__subtract image"
    alt="Subtract"
  />

  <div class="container">
    <div class="titles">
      <h2 class="title">Our</h2>
      <h4 class="label">Offices</h4>
    </div>

    <ul class="our-offices__cards list-reset">
      <li class="our-offices__item">
        <article class="office-card">
          <div class="office-card__top">
            <span class="office-card__country">THAILAND</span>
            <h3 class="office-card__title">Siam Canadian Foods Co.</h3>
            <adress class="office-card__adress"
              >9th Fl., Suite 283/44 Home Place Office Building, <br />
              283 Thong lor 13, Sukhumvit 55, <br />
              Klongton-Nua, <br />
              Wattana, Bangkok 10110</adress
            >
          </div>
          <div class="office-card__bottom">
            <div class="office-card__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <span>487-98-873-12</span>
            </div>

            <div class="office-card__mail">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              <span>testmail@gmal.com</span>
            </div>
          </div>
        </article>
      </li>

      <li class="our-offices__item">
        <article class="office-card">
          <div class="office-card__top">
            <span class="office-card__country">VIETNAM</span>
            <h3 class="office-card__title">Siam Canadian (Vietnam) Limited</h3>
            <adress class="office-card__adress"
              >No 188, Hong Ha Street Ward 9, Phu Nhuan District, Ho Chi Minh
              City, Vietnam</adress
            >
          </div>
          <div class="office-card__bottom">
            <div class="office-card__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <span>487-98-873-12</span>
            </div>

            <div class="office-card__mail">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              <span>testmail@gmal.com</span>
            </div>
          </div>
        </article>
      </li>

      <li class="our-offices__item">
        <article class="office-card">
          <div class="office-card__top">
            <span class="office-card__country">CHINA</span>
            <h3 class="office-card__title">Siam (China) Limited</h3>
            <adress class="office-card__adress"
              >Room 1806-1807, Building A, I-Fortune mall No. 28, South Ren Min
              Road, Zhanjiang, Guangdong 524001, China</adress
            >
          </div>
          <div class="office-card__bottom">
            <div class="office-card__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <span>487-98-873-12</span>
            </div>

            <div class="office-card__mail">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              <span>testmail@gmal.com</span>
            </div>
          </div>
        </article>
      </li>

      <li class="our-offices__item">
        <article class="office-card">
          <div class="office-card__top">
            <span class="office-card__country">INDIA</span>
            <h3 class="office-card__title">
              Siam Canadian Frozen Foods India Pvt.Ltd.,
            </h3>
            <adress class="office-card__adress"
              >Door no: 6-22-4/1, Flat No: T-1, 4th Floor, Eshwar Sai Lalitha
              Apartment, East Point Colony</adress
            >
          </div>
          <div class="office-card__bottom">
            <div class="office-card__phone">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <span>487-98-873-12</span>
            </div>

            <div class="office-card__mail">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              <span>testmail@gmal.com</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
