<section class="products">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Back
          </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="index.html" class="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Our product</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="products__decor">
    <img
      loading="lazy"
      src="img/boubles2.png"
      class="products__boubles image"
      alt="Decor"
    />

    <img
      loading="lazy"
      src="img/pattern2.png"
      class="products__pattern image"
      alt="Decor"
    />
  </div>
  <div class="container">
    <div class="titles">
      <h2 class="title">Our</h2>
      <h4 class="label">Products</h4>
    </div>

    <div class="products__category-top">
      <h2 class="products__category-title">
        Fish
        <span>(13)</span>
      </h2>
      <div class="tabs__nav products__btns">
        <button
          class="products__btn products__btn-category btn btn-reset"
          type="button"
        >
          Category
          <svg>
            <use xlink:href="img/sprite.svg#filter"></use>
          </svg>
        </button>

        <button class="products__btn btn btn-reset" type="button">
          Clear
          <svg class="clear">
            <use xlink:href="img/sprite.svg#clear"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="products__show-menu">
      <div class="products__show-top">
        <h3 class="products__show-title">Category</h3>
        <button class="btn-reset products__show-btn--close">
          <svg>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="products__inner">
      <div
        class="tab-header products__header"
        data-da=".products__show-menu,1200,1"
        data-simplebar
      >
        <aside class="tab-header__items products__items">
          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Fish
              <span>(13)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Salmon</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Cod</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Flounder</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Halibu</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Barramundi / Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Mahi mahi</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Tilapia</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Chilean Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Tuna</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Grouper</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Red mullet</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Red snapper</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Pangasius / Basa</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Shellfish
              <span>(13)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Cod</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Flounder</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Halibu</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Barramundi / Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Mahi mahi</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Tilapia</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Seafood
              <span>(13)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Red mullet</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Red snapper</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Pangasius / Basa</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Meat
              <span>(13)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <h2 class="product__item--subtitle">
                Beef
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
              </h2>
              <ul class="product__item--submenu list-reset">
                <li class="product__item-link">
                  <a href="#">Mahi mahi</a>
                </li>
              </ul>

              <h2 class="product__item--subtitle">
                Lamb
                <svg>
                  <use xlink:href="img/sprite.svg#bottom"></use>
                </svg>
              </h2>
              <ul class="product__item--submenu list-reset">
                <li class="product__item-link">
                  <a href="#">Tuna</a>
                </li>
              </ul>
            </ul>
          </div>
        </aside>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product1.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Salmon</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Salmon</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product3.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Salmon</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product4.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Halibut</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product5.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product6.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product7.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product8.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product5.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product6.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product7.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product8.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product3.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product4.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product6.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/product7.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>
      </div>
    </div>
  </div>
</section>
