<section class="products">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list list-reset">
        <li class="breadcrumbs__item-back">
          <a href="index.html" class="breadcrumbs__link breadcrumbs__link-back">
            <svg>
              <use xlink:href="img/sprite.svg#back"></use>
            </svg>
            Back
          </a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a href="index.html" class="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__item breadcrumbs__item-main">
          <a
            href="products-page.html"
            class="breadcrumbs__link breadcrumbs__link--active"
            >Our product</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="products__decor">
    <img
      loading="lazy"
      src="img/boubles2.png"
      class="products__boubles image"
      alt="Decor"
    />

    <img
      loading="lazy"
      src="img/pattern2.png"
      class="products__pattern image"
      alt="Decor"
    />
  </div>
  <div class="container">
    <div class="titles">
      <h2 class="title">Our</h2>
      <h4 class="label">Products</h4>
    </div>

    <div class="products__category-top">
      <h2 class="products__category-title">
        Fish
        <span>(13)</span>
      </h2>
      <div class="tabs__nav products__btns">
        <button
          class="products__btn products__btn-category btn btn-reset"
          type="button"
        >
          Category
          <svg>
            <use xlink:href="img/sprite.svg#filter"></use>
          </svg>
        </button>

        <button class="products__btn btn btn-reset" type="button">
          Clear
          <svg class="clear">
            <use xlink:href="img/sprite.svg#clear"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="products__show-menu">
      <div class="products__show-top">
        <h3 class="products__show-title">Category</h3>
        <button class="btn-reset products__show-btn--close">
          <svg>
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="products__inner">
      <div
        class="tab-header products__header"
        data-da=".products__show-menu,1200,1"
        data-simplebar
      >
        <aside class="tab-header__items products__items">
          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Fish
              <span>(14)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Salmon</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Cod</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Flounder</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Halibu</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Barramundi / Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Mahi mahi</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Tilapia</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Chilean Seabass</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Tuna</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Grouper</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Red mullet</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Red snapper</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Pangasius / Basa</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Shellfish
              <span>(4)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Lobster</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Clams</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Crabs</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Scallops</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Seafood
              <span>(5)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Octopus</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Baby octopus</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Cutterfish</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Seafood cocktail</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Squid</a>
              </li>
            </ul>
          </div>

          <div class="tab-header__item product__item">
            <h2 class="product__item-title">
              Meat
              <span>(2)</span>
              <svg>
                <use xlink:href="img/sprite.svg#bottom"></use>
              </svg>
            </h2>
            <ul class="product__item-menu list-reset">
              <li class="product__item-link">
                <a href="product-page.html">Beef</a>
              </li>
              <li class="product__item-link">
                <a href="product-page.html">Lamb</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish1.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Salmon</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Cod</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish3.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Flounder</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish4.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Halibut</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish5.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Barramundi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish6.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Mahi Mahi</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish7.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Chilean Seabass</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish8.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Seabass</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish9.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Chilean Seabass</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish10.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Tuna</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish11.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Grouper</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish12.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Red mullet</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish13.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Red snapper</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/fish14.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Pangasius / Basa</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/shellfish1.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Lobster</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/shellfish2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Clams</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/shellfish3.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Crabs</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/shellfish4.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Scallops</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/seafood1.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Octopus</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/seafood2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Baby octopus</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/seafood3.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Cutterfish</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/seafood4.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Seafood cocktail</h3>
        </a>

        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/seafood5.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Squid</h3>
        </a>
      </div>

      <div class="tab-content products__content">
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/meat1.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Beef</h3>
        </a>
        <a href="product-page.html" class="product__card">
          <div class="product__card-image">
            <img
              loading="lazy"
              src="img/meat2.jpg"
              class="product__card-image image"
              alt="Product"
            />
          </div>
          <h3 class="product__card-title">Lamb</h3>
        </a>
      </div>
    </div>
  </div>
</section>
