<section class="why-us">
  <div class="container">
    <div class="titles">
      <h2 class="title">Why</h2>
      <h4 class="label">Us?</h4>
    </div>

    <h2 class="why-us__title">We are the meat and fish exrpoters</h2>

    <div class="why-us__text">
      <p>
        From modest beginnings in Thailand in 1987, Siam Canadian started off as
        a small trading company specializing in food products. It was during
        this time that Thailand’s seafood industry was entering a period of
        dynamic growth, fuelled by the rapid expansion of aqua-cultured shrimp.
        Siam Canadian saw the tremendous growth opportunities in the seafood
        business and thus frozen seafood soon became its core business and the
        main focus of its successive expansion.
      </p>

      <p>
        We’ve learned a lot during our over three decades in this dynamic
        industry so in order to maintain our uncompromising commitment to
        service, we’re constantly evaluating the way we do business and looking
        for new and innovative ways to further improve our operational
        efficiencies and product offerings. We understand the value of employing
        and developing the most highly qualified personnel in each country
        location.
      </p>
    </div>
  </div>

  <div class="why-us__images">
    <img
      loading="lazy"
      src="img/why-us1.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us2.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us3.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us4.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us5.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us6.jpg"
      class="why-us__img image"
      alt=""
    />
    <img
      loading="lazy"
      src="img/why-us7.jpg"
      class="why-us__img image"
      alt=""
    />
  </div>

  <div class="why-us__provide">
    <h3 class="why-us__provide-title">WE PROVIDE QUALITY</h3>
    <div class="why-us__decor">
      <img
        loading="lazy"
        src="img/boubles2.png"
        class="why-us__boubles image"
        alt="Decor"
      />

      <img
        loading="lazy"
        src="img/pattern2.png"
        class="why-us__pattern image"
        alt="Decor"
      />
    </div>
  </div>
</section>
