// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-Amiko: "Amiko";
  --font-family-Book-antiqua: "Book-antiqua";
  --font-family-Carattere: "Carattere";
  --font-family-MavenPro: "MavenPro";

  // colors
  --light-color: #fff;
  --black-color: #363636;
  --red-color: #db3f5a;
  --gray-color: #1e1e1e;
  --blue-color: #d7e8ef;
}
